[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.25"
cbor_metadata = true
ffi = true
optimizer = true
optimizer_runs = 500
via-ir = true
evm_version = "cancun"
ast = true
build_info = true
extra_output = ["storageLayout"]
gas_reports = ["*"]
fs_permissions = [{ access = "read-write", path = "./" }]

[rpc_endpoints]
mainnet = "${MAINNET_RPC}"
sepolia = "${SEPOLIA_RPC}"

[etherscan]
mainnet = { key = "${MAINNET_ETHERSCAN_KEY}" }
sepolia = { key = "${MAINNET_ETHERSCAN_KEY}" }
