name: test

on:
  pull_request:
    branches:
      - "master"
    types: [opened, reopened, synchronize]

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: KING project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'yarn'

      - name: Install Node.js dependencies
        run: make install-node-dependencies

      - name: Run Forge build
        run: make build
        id: build

      - name: Run Forge tests
        run: make test
        id: test

